body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}


.content {
  margin: 2.5ch 5ch;
  max-width: 320px;
}

.experience {

}

img.icon {
  height: 50px;
}